html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  /* place-items: center;  */
  background-color: #E8EBF8;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 500px;
  box-sizing: border-box; 
  margin: 20px auto;
  padding: 40px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0px 4px 59.2px 58px rgba(81, 72, 203, 0.04);
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #4a004f;
  margin-bottom: 20px;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 10px;
}

/* language toggle */
.toggle-btn {
  margin-bottom: 20px;
  padding: 4px 12px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.toggle-btn:hover {
}

.termInput{
  position: relative;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  color: #666;
  margin-bottom: 10px;
}

input, select {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  background-color: #fafafa;
  color: #333;
}

/* Rate slider */




/*term time unit selection */

.termInput input{
  flex:auto;
}


.tab-buttons {
  position:absolute;
  right: 12px;
  top: 8px;
  display: flex;
  gap: 2px;
  background: #00000007;
  border-radius: 4px;
}

.tab-button {
  padding: 5px 12px;
  font-size: 0.8rem;
  border: none;
  color: #00000045;
  background: none;
}

.tab-button:hover{
  background: #ffffff68;
}

.tab-button.active {
  font-weight: bold;
  color:#6C63FF;
}

button[type=submit] {
  padding: 12px;
  font-size: 1rem;
  border-radius: 24px;
  background: linear-gradient(90deg, #6C63FF 0%, #7A56FF 100%);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button[type=submit]:hover {
  background-color: #5a0a9e; /* Darker purple on hover */
  border-color: #4a0070; /* Even darker purple */
}

.result {
  margin-top: 20px;
  padding: 20px;
  background-color: #eff1ff;
  color: #333;
  border-radius: 12px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  color: #666;
}


/* cards */
.fixed-deposit-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 500px;
}

.fixed-deposit-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #6a1b9a; /* Purple color */
}

.left-side, .right-side {
  flex: 1;
  padding: 10px;
}

.labels {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.bank-label, .product-label {
  background-color: #e0e0e0;
  padding: 2px 5px;
  border-radius: 3px;
}

.principal {
  font-weight: bold;
  margin-bottom: 5px;
}

.interest-rate-term {
  font-size: 0.9em;
  color: #666;
}

.remaining-days {
  text-align: end;
}

.interest {
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
  text-align: end;
}
